/** Throws a security policy error. Include manually.
@import url(http://fonts.googleapis.com/css?family=Roboto:500,400italic,300,700,400);
*/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/Roboto/Roboto-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(../fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/Roboto/Roboto-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/Roboto/Roboto-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(../fonts/Roboto/Roboto-Italic.ttf) format('truetype');
}

.ng-hide {
  display: none!important;
}

html,body {
  overflow: auto;
  font-family: 'Roboto', sans-serif;
}
body {
  -webkit-user-select: initial;
  cursor: initial;
}

a {
  color: #106CC8;
  text-decoration: none;
  font-weight: 400;
  border-bottom: 1px solid rgba(64, 84, 178, 0.25);
  -webkit-transition: border-bottom 0.35s;
  -moz-transition: border-bottom 0.35s;
  -ms-transition: border-bottom 0.35s;
  -o-transition: border-bottom 0.35s;
  transition: border-bottom 0.35s;
}

.footer {
  font-size: 12px;
  font-weight: 100;
  a {
  }
}

.issues-table {
  table-layout: fixed;
  .issue-number {
    width: 100px;
  }
  .issue-status {
    width: 175px;
  }
  .issue-operations {
    width: 125px;
  }
}
.author-meta {
  line-height: 18px;
  text-align: right;
}
.author-social-links {
  margin: 0;
  padding: 0 0 0 10px;
  display: inline-block;
  list-style: none;
  font-size: 18px;
  li {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  a {
    border-bottom: 0;
  }
}

/** Issue Status Colors **/
.issue-node-status--1,
.issue-node-status--1 td {
  background-color: #f9f9f9;
}

.issue-node-status--2, .issue-node-status--2 td,
.issue-node-status--14, .issue-node-status--14 td,
.issue-node-status--15, .issue-node-status--15 td {
  background-color: #d7ffd8;
}

.issue-node-status--3, .issue-node-status--3 td,
.issue-node-status--5, .issue-node-status--5 td
.issue-node-status--6, .issue-node-status--6 td,
.issue-node-status--7, .issue-node-status--7 td,
.issue-node-status--18, .issue-node-status--18 td {
  background-color: #fddddd;
}

.issue-node-status--4, .issue-node-status--4 td,
.issue-node-status--16, .issue-node-status--16 td {
  background-color: #eff1f3;
}

.issue-node-status--8, .issue-node-status--8 td {
  background-color: #ffffdd;
}

.issue-node-status--13, .issue-node-status--13 td {
  background-color: #ffece8;
}

md-list {
  width: 100%;
  md-list-item {
    position: relative;
    padding: 0 1%;
    h2, h3, h4, h5 {
      margin: 0;
    }
  }
}
md-toolbar.site-content-toolbar {
  md-icon {
    color: white;
  }
  color: white;
}
.md-secondary-container .md-button {
  min-width: 40px;
}
.issue-node-category .fa {
  padding: 10px 15px;
}

.app-fab {
  position: absolute;
  bottom: 10%;
  right: 1%;
}
.md-avatar {
  text-align: center;
}
