/** Throws a security policy error. Include manually.
@import url(http://fonts.googleapis.com/css?family=Roboto:500,400italic,300,700,400);
*/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/Roboto/Roboto-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(../fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/Roboto/Roboto-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/Roboto/Roboto-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(../fonts/Roboto/Roboto-Italic.ttf) format('truetype');
}



html,body {
  overflow: auto;
  font-family: 'Roboto', sans-serif;
}
body {
  padding-top: 60px;
  -webkit-user-select: initial;
  cursor: initial;
}

a {
  transition: color 0.3s ease;
}
.btn {
  transition: background-color 0.15s ease;
}

.navbar-default {
  background: #0678BE;
  border-color: #53B0EB;
}
.navbar-default .navbar-brand {
  color: #f5f5f5;
}
.navbar-default .navbar-brand:hover {
  color: #F6F6F2;
}
.navbar-brand-image {
  float: left;
  display: inline-block;
}

.panel-footer {
  background: #0678BE;
  border-top: 2px solid #53B0EB;
  color: white;
  font-size: 12px;
  font-weight: 100;
}
.panel-footer a {
  color: #f5f5f5;
}

.issues-table {
  table-layout: fixed;
}
.issues-table .issue-number {
  width: 100px;
}
.issues-table .issue-status {
  width: 200px;
}
.issues-table .issue-operations {
  width: 100px;
}

/** Issue Status Colors **/
.issue-node-status--1 td {
  background-color: #f9f9f9;
}

.issue-node-status--2 td,
.issue-node-status--14 td,
.issue-node-status--15 td {
  background-color: #d7ffd8;
}

.issue-node-status--3 td,
.issue-node-status--5 td
.issue-node-status--6 td,
.issue-node-status--7 td,
.issue-node-status--18 td {
  background-color: #fddddd;
}

.issue-node-status--4 td,
.issue-node-status--16 td {
  background-color: #eff1f3;
}

.issue-node-status--8 td {
  background-color: #ffffdd;
}

.issue-node-status--13 td {
  background-color: #ffece8;
}

