<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="md-title">{{ summary }}</h2>
            <span flex></span>
            <md-button class="md-icon-button">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content layout-padding style="max-width:800px;max-height:810px; ">
        <h6 class="md-subhead" style="margin: 0;">Last updated {{ refreshed | date:'medium'}}</h6>
        <div data-ng-bind-html="body"></div>
    </md-content>
</md-dialog>
