<md-dialog aria-label="Settings" style="min-width: 60%;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="modal-title">Configuration</h2>
            <span flex></span>
            <md-button class="md-icon-button">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content>
        <form layout="column" layout-padding>
            <md-input-container>
                <label class="col-sm-3 control-label">Refresh interval (minutes)</label>
                <input type="text" class="form-control" value="{{ refreshInterval }}" placeholder="30" data-ng-model="refreshInterval" data-ng-blur="setRefreshInterval(refreshInterval)"/>
                <!--<span flex></span>-->
                <!--<p class="help-block">How many minutes before issues refresh their status. For now you need to set value, then close and reopen the app.</p>-->
            </md-input-container>
            <md-input-container>
                <label for="exportNodeJSON" class="col-sm-3 control-label">Export node issues</label>
                <textarea id="exportNodeJSON" class="form-control" rows="5" data-auto-select-text>{{ export }}</textarea>
                <!--<p class="help-block">Copy this and share to be imported into other instances of the app.</p>-->
            </md-input-container>
        </form>
        <md-divider></md-divider>
        <form layout="column" layout-padding>
            <md-input-container>
                <label for="importNodeJSON" class="col-sm-3 control-label">Import node issues</label>
                <textarea id="importNodeJSON" class="form-control" rows="5" data-ng-model="importJSON"></textarea>
                <!--<p class="help-block">Import a JSON object of issue node IDs exported from another app. <em>Note: this will not delete existing issues, only force them to refresh.</em></p>-->
            </md-input-container>
            <span flex></span>
            <md-button class="btn btn-success" ng-click="importIssues(importJSON)">Import issues</md-button>
        </form>
    </md-content>
</md-dialog>
