<!doctype html>
<html data-ng-app="DrupalIssuesApp" data-ng-csp>
    <head>
        <meta charset="utf-8">
        <title>DrupalIssues</title>

        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css styles/app.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <base target="_blank">
    </head>
    <body data-ng-controller="DrupalIssuesController">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="images/drupal-48.png" class="navbar-brand-image"/>
                <span class="navbar-brand">Drupal.org Issues</span>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-right issues--add-form">
                    <li class="dropdown">
                        <div class="dropdown-toggle btn btn-success btn-sm" data-toggle="dropdown" id="navLogin">
                            <i class="fa fa-plus"></i><span class="sr-only">Add+</span></div>
                        <div class="dropdown-menu">
                            <form class="navbar-form" novalidate>
                                <div class="form-group-sm">
                                    <label for="addIssueNid" class="sr-only">Issue Node ID</label>
                                    <input id="addIssueNid" type="text" data-ng-model="newIssue.nid" class="form-control" placeholder="Node ID"/>
                                </div>
                                <div class="text-center">OR</div>
                                <div class="form-group-sm">
                                    <label for="addIssueUid" class="sr-only">Username</label>
                                    <input id="addIssueUid" type="text" data-ng-model="newIssue.user" class="form-control" placeholder="Username"/>
                                </div>
                                <div class="btn-group btn-group-justified">
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-success btn-sm"  data-ng-click="addIssue(newIssue)">Add</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
                <div class="navbar-form navbar-right">
                    <div class="input-group-sm pull-right">
                        <button data-ng-click="refreshIssues()" class="btn btn-default btn-sm">
                            <span class="fa" data-ng-class="{'fa-refresh': !ajaxInProcess, 'fa-spinner': (ajaxInProcess != false)}" aria-hidden="true"></span>
                            <span class="">Refresh All</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="3000">{{alert.msg}}</alert>
        <div class="well-sm">
            <div class="form-group">
                <input type="text" tabindex="1" data-ng-model="issueSummarySearch" placeholder="Search issue number, summary, project name." class="form-control form"/>
            </div>
        </div>
        <table class="table issues-table">
            <thead>
                <tr>
                    <th class="issue-number">
                        <a href="" data-ng-click="issueOrderBy = 'nid'; reverse=!reverse">Issue #</a>
                    </th>
                    <th class="issue-summary">Summary</th>
                    <th class="issue-status">
                        <a href="" data-ng-click="issueOrderBy = 'status'; reverse=!reverse">Status</a>
                    </th>
                    <th class="issue-operations">Operations</th>
                </tr>
            </thead>
            <tbody>
                <tr class="issue-node-status--{{ issue.status }}" data-ng-repeat="issue in issues | orderObjectBy:issueOrderBy:reverse | filter:issueSummarySearch track by $index">
                    <td><a href="https://www.drupal.org/node/{{ issue.nid }}">#{{ issue.nid }}</a></td>
                    <td>{{ issue.summary }}<br /><small><strong>{{ issue.project }}</strong></small></td>
                    <td>{{ issue.status | statusLabelFilter }}</td>
                    <td>
                        <button data-ng-click="openIssue(issue)" class="btn btn-default btn-sm">
                            <span class="fa fa-search-plus" aria-hidden="true"></span>
                            <span class="sr-only">More details</span>
                        </button>
                        <button data-ng-click="refreshIssue(issue.nid)" class="btn btn-default btn-sm">
                            <span class="fa" data-ng-class="{'fa-refresh': (ajaxInProcess != issue.nid), 'fa-spinner': (ajaxInProcess == issue.nid)}" aria-hidden="true"></span>
                            <span class="sr-only">Refresh</span>
                        </button>
                        <button data-ng-click="removeIssue(issue.nid)" class="btn btn-default btn-sm">
                            <span class="fa fa-remove" aria-hidden="true"></span>
                            <span class="sr-only">Remove</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container-fluid panel-footer">
        <div class="row">
            <div class="col-sm-8">

            </div>
            <div class="author-meta col-sm-4">
                <span>Created by <a href="http://glamanate.com">Matt Glaman</a></span>
                <ul class="author-social-links pull-right">
                    <li>
                        <a href="https://twitter.com/nmdmatt"><i class="fa fa-twitter">&nbsp;</i><span class="sr-only">Twitter</span></a>
                    </li>
                    <li>
                        <a href="http://www.linkedin.com/in/mattglaman"><i class="fa fa-linkedin">&nbsp;</i><span class="sr-only">LinkedIn</span></a>
                    </li>
                    <li>
                        <a href="https://www.gittip.com/mglaman/"><i class="fa fa-gittip">&nbsp;</i><span class="sr-only">GitTip</span></a>
                    </li>
                    <li>
                        <a href="http://drupal.org/u/mglaman"><i class="fa fa-drupal">&nbsp;</i><span class="sr-only">Drupal</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-modal-service/dst/angular-modal-service.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/issueNodes.js"></script>
    <script src="scripts/controllers/modal.js"></script>
    <script src="scripts/directives/alerts.js"></script>
    <script src="scripts/filters/statusFilter.js"></script>
    <script src="scripts/filters/orderObjectBy.js"></script>
    <script src="scripts/services/nodeService.js"></script>
    <!-- endbuild -->
    </body>
</html>
