<!doctype html>
<html data-ng-app="DrupalIssuesApp" data-ng-csp>
    <head>
        <meta charset="utf-8">
        <title>DrupalIssues</title>

        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
        <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css styles/app.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <base target="_blank">
    </head>
    <body data-ng-controller="DrupalIssuesController" layout="row" class="layout layout-row md-body-1">

    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2 ng-isolate-scope md-closed" md-component-id="left" tabindex="-1">
        <ng-include src="'templates/header.html'"></ng-include>
    </md-sidenav>
    <div layout="column" role="main" flex class="flex layout layout-column">
        <md-toolbar class="site-content-toolbar">
            <div class="md-toolbar-tools" ng-click="toggleSidenav()" tabindex="-1" role="button">
                <md-button class="md-icon-button" aria-label="Show side menu" style="float: left;">
                    <md-icon md-svg-icon="menu"></md-icon>
                </md-button>
                <div layout="row" flex class="fill-height">
                    <h2 class="md-toolbar-item md-headline">Drupal.org Issues</h2>
                </div>
            </div>
        </md-toolbar>
        <md-input-container ng-show="issues | objLength" layout="row" md-no-float>
            <!--<label>Search issue number, summary, project name.</label>-->
            <input type="text" tabindex="1" data-ng-model="issueSummarySearch" placeholder="Search issue number, summary, project name." class="md-input" style="width: 100%; line-height: 40px;"/>
        </md-input-container>
        <md-content flex layout="row" layout-fill>
            <md-list>
                <!--<md-subheader class="md-no-sticky">Saved issues</md-subheader>-->
                <md-list-item layout-padding class="issue-node-status--{{ issue.status }}" ng-repeat="issue in issues | orderObjectBy:issueOrderBy:reverse | filter:issueSummarySearch track by $index" ng-controller="issueCtrl">
                    <div layout="column" class="issue-node-category">
                        <i class="fa fa-{{ issue.category | categoryIconlFilter }}"></i>
                    </div>
                    <div class="md-list-item-text" layout="column" layout-padding>
                        <h2 class="md-subhead"><a href="https://www.drupal.org/node/{{ issue.nid }}" class="md-avatar">#{{ issue.nid }}</a> {{ issue.summary }}</h2>
                        <h3 class="md-body-2">{{ issue.project }}</h3>
                        <p>{{ issue.status | statusLabelFilter }}</p>

                        <div class="md-secondary-container">
                            <md-button ng-click="openIssue(issue)" class="md-raised">
                                <md-icon md-svg-src="launch" aria-label="Open more info"></md-icon>
                            </md-button>
                            <md-button ng-click="refresh(issue.nid)" class="md-raised">
                                <md-icon md-svg-src="refresh" aria-label="Refresh"></md-icon>
                            </md-button>
                            <md-button ng-click="remove(issue.nid)" class="md-raised">
                                <md-icon md-svg-src="clear" aria-label="Remove issue"></md-icon>
                            </md-button>
                        </div>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
        <ng-include src="'templates/fab.html'"></ng-include>
        <ng-include src="'templates/footer.html'"></ng-include>
    </div>


    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-modal-service/dst/angular-modal-service.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/appCtrl.js"></script>
    <script src="scripts/controllers/issueCtrl.js"></script>
    <script src="scripts/controllers/issueDialog.js"></script>
    <script src="scripts/controllers/settingsModal.js"></script>
    <script src="scripts/controllers/genericDialog.js"></script>
    <script src="scripts/directives/alerts.js"></script>
    <script src="scripts/filters/statusFilter.js"></script>
    <script src="scripts/filters/orderObjectBy.js"></script>
    <script src="scripts/services/apiService.js"></script>
    <script src="scripts/services/issuesService.js"></script>
    <script src="scripts/services/toastService.js"></script>
    <!-- endbuild -->
    </body>
</html>
