<!doctype html>
<html data-ng-app="DrupalIssuesApp" data-ng-csp>
    <head>
        <meta charset="utf-8">
        <title>DrupalIssues</title>

        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
        <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css styles/app.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <base target="_blank">
    </head>
    <body data-ng-controller="DrupalIssuesController" layout="row" class="layout layout-row">

    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2 ng-isolate-scope md-locked-open md-closed" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" tabindex="-1" style="background: #0678BE;">
        <ng-include src="'templates/header.html'"></ng-include>
    </md-sidenav>
    <div layout="column" role="main" flex class="flex layout layout-column">
        <md-toolbar class="md-warn" ng-show="issues | objLength">
            <md-input-container>
                <!--<label>Search issue number, summary, project name.</label>-->
                <input type="text" tabindex="1" data-ng-model="issueSummarySearch" placeholder="Search issue number, summary, project name." class="md-input"/>
            </md-input-container>
        </md-toolbar>
        <md-content flex layout-padding layout-fill class="flex layout layout-padding layout-fill">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="3000">{{alert.msg}}</alert>
            <table class="table issues-table">
                <thead>
                <tr>
                    <th class="issue-number">
                        <a href="" data-ng-click="issueOrderBy = 'nid'; reverse=!reverse">Issue #</a>
                    </th>
                    <th class="issue-summary">Summary</th>
                    <th class="issue-status">
                        <a href="" data-ng-click="issueOrderBy = 'status'; reverse=!reverse">Status</a>
                    </th>
                    <th class="issue-operations">Operations</th>
                </tr>
                </thead>
                <tbody>
                <tr class="issue-node-status--{{ issue.status }}" data-ng-repeat="issue in issues | orderObjectBy:issueOrderBy:reverse | filter:issueSummarySearch track by $index" data-ng-controller="issueCtrl">
                    <td><a href="https://www.drupal.org/node/{{ issue.nid }}">#{{ issue.nid }}</a></td>
                    <td>{{ issue.summary }}<br /><small><strong>{{ issue.project }}</strong></small></td>
                    <td>{{ issue.status | statusLabelFilter }}</td>
                    <td>
                        <button data-ng-click="openIssue(issue)" class="btn btn-default btn-sm">
                            <span class="fa fa-search-plus" aria-hidden="true"></span>
                            <span class="sr-only">More details</span>
                        </button>
                        <button data-ng-click="refreshIssue(issue.nid)" class="btn btn-default btn-sm">
                            <span class="fa" data-ng-class="{'fa-refresh': (ajaxInProcess != issue.nid), 'fa-spin fa-spinner': (ajaxInProcess == issue.nid)}" aria-hidden="true"></span>
                            <span class="sr-only">Refresh</span>
                        </button>
                        <button data-ng-click="removeIssue(issue.nid)" class="btn btn-default btn-sm">
                            <span class="fa fa-remove" aria-hidden="true"></span>
                            <span class="sr-only">Remove</span>
                        </button>
                    </td>
                </tr>
                <tr data-ng-hide="(issues | objLength)">
                    <td colspan="4">Currently no issues added in the tracker.</td>
                </tr>
                </tbody>
            </table>
        </md-content>
        <ng-include src="'templates/footer.html'"></ng-include>
    </div>


    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-modal-service/dst/angular-modal-service.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/appCtrl.js"></script>
    <script src="scripts/controllers/issueCtrl.js"></script>
    <script src="scripts/controllers/modal.js"></script>
    <script src="scripts/controllers/settingsModal.js"></script>
    <script src="scripts/directives/alerts.js"></script>
    <script src="scripts/filters/statusFilter.js"></script>
    <script src="scripts/filters/orderObjectBy.js"></script>
    <script src="scripts/services/nodeService.js"></script>
    <!-- endbuild -->
    </body>
</html>
