<div layout="row" class="panel-footer flex layout-row layout-align-end-end">
    <div class="flex">
        <span>Created by <a href="http://glamanate.com">Matt Glaman</a></span>
    </div>
    <div class="author-meta flex">
        <ul class="author-social-links">
            <li>
                <a href="https://twitter.com/nmdmatt"><i class="fa fa-twitter">&nbsp;</i><span class="sr-only">Twitter</span></a>
            </li>
            <li>
                <a href="http://www.linkedin.com/in/mattglaman"><i class="fa fa-linkedin">&nbsp;</i><span class="sr-only">LinkedIn</span></a>
            </li>
            <li>
                <a href="https://www.gittip.com/mglaman/"><i class="fa fa-gittip">&nbsp;</i><span class="sr-only">GitTip</span></a>
            </li>
            <li>
                <a href="http://drupal.org/u/mglaman"><i class="fa fa-drupal">&nbsp;</i><span class="sr-only">Drupal</span></a>
            </li>
        </ul>
    </div>
</div>
